<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css"href="~/Content/materialize.min.css" />
    <script src="~/Scripts/materialize.min.js"></script>

</head>

<body ng-app="RegistrationApplication" ng-controller="RegistrationApplicationController" >
    <div>
        @RenderBody()
    </div>

    <!----------------------- SCRIPTS ----------------------->
    <script src="/Scripts/jquery-3.4.1.min.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/Holy-Scripts/Module.js"></script>
    <script src="/Scripts/Holy-Scripts/Service.js"></script>
    <script src="/Scripts/Holy-Scripts/Controller.js"></script>

</body>

</html>
