@{
    Layout = "~/Views/Shared/_RegistrationApplicationLayout.cshtml";
}

<div class="row center" ng-init="renderingNotification()">
    <!---Main Page-->

    <div class="col s12 m12 l12"> HEADER</div>
    <div class="col s2 m2 l2"> SIDE A</div>

    <div class="col s8 m8 l8">
        <!----- MIDDLE ----->


        <div class="row">
            <div class="col s12 m12">

                <div class="card blue-grey darken-1">

                    <div class="card-content white-text">
                        <span class="card-title">Welcome back!</span>
                        <span class="card-text">Enter the details to get going</span>

                        



                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="col s2 m2 l2"> SIDE B</div>
    <div class="col s12 m12 l12"> FOOTER</div>



</div>
